{% extends 'base.html' %}

{% block content %}

<h1 class="text-4xl text-gray-200 text-center">Add your Dairy</h1>

<form method="POST" action="">
    {% csrf_token %}
    <div class="flex flex-col justity-center lg:mx-60 mt-10">
        <label class="text-2xl text-gray-200 my-3">Title</label>
        <input type="text" class="w-1/2 px-3 p-1 rounded item-center focus:outline-cyan-500" name="title">
        
        <label class="text-2xl text-gray-200 my-3">Description</label>
       <textarea type="textarea" class="px-3 h-1/4 rounded item-center mb-4 focus:outline-cyan-500" name="des"></textarea>
    
    <button type="submit" class="flex group relative w-1/6 flex uppercase justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-gray-100 text-md bg-gradient-to-r from-blue-500 to-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 px-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
        Add Note
    </button>
</div>
</form>
    

{% endblock content %}